body {
  padding: 10px;
  font-family: sans-serif;
}

.menuTabs {
  text-align: center;
  font-size: 18px;
  font-family: "HelveticaNeue-Thin","HelveticaNeueThin", "Helvetica Neue Thin", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.nav-menu {
  flex-shrink: 0;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  background: #303641;
  color: #8d97ad;
  font-size: 1em;
  letter-spacing: 2px;
  width: 240px;
  line-height: 22px;
}

.nav-menu-icons {
  color: #6a56a5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-labels {
  padding-left: 8px;
}

.body {
  padding: 12px;
  height: 100vh;
}
